* {
  margin: 0;
  padding: 0;
  font-family: ubuntu, sans-serif;
}

.navbar-container {
  height: 50px;
  display: block;
  font-size: 1.2rem;
  background-color: rgb(255, 254, 254);
}

.nav-menu-wrapper {
  height: 100%;
  position: fixed;
  bottom: 0;
  top: 50px;
  background-color: rgb(219, 219, 217);
  width: 100%;
  display: none;
}

#welcome {
  font-weight: bold;
  margin: 3% 5%;
  font-size: 15px;
}

.nav-menu {
  display: block;
  position: absolute;
  height: 80%;
  width: 100%;
  background-color: rgb(255, 254, 254);
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease;
  background: #000;
  cursor: pointer;
  display: block;
}

.navbar-item {
  width: 100%;
}

.nav-links {
  font-weight: bold;
  text-align: left;
  padding: 15px;
  width: 80%;
  right: 0%;
  font-size: 20px;
  display: table;
  color: #fff;
}

.nav-links:hover {
  color: #3b6645;
  transition: all 0.3s ease;
}

#mobile-menu {
  position: absolute;
  top: -1%;
  right: 5%;
  transform: translate(5%, 20%);
}

.navbar-container.is-active {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navbar-container.is-active .bar:nth-child(2) {
  opacity: 0;
}

.navbar-container.is-active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.navbar-container.is-active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.navbar-container.is-active .nav-menu-wrapper {
  display: block;
}

main {
  display: block;
  text-align: center;
  background: url('./image/header-mobile.svg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 10%;
}

.intro {
  line-height: 52px;
  font-family: inherit;
  font-style: normal;
  text-align: center;
}

.heading {
  color: #172b4d;
  font-size: 40px;
  margin-top: 12%;
  margin-bottom: 3%;
  width: 80%;
}

.subheading {
  color: #36b37e;
  font-size: 40px;
  width: 70%;
  margin-top: 2%;
}

.summary {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  margin-top: 5%;
  width: 90%;
  color: #172b4d;
}

.intro-section {
  width: auto;
  height: 50px;
}

.margin-left-right-auto {
  margin-right: auto;
  margin-left: auto;
}

.socials-list {
  list-style-type: none;
}

.socials-lists-item {
  display: flex;
  align-items: center;
  width: 50%;
  margin-top: 1%;
  height: 100%;
  cursor: pointer;
  margin-bottom: 0%;
}

.icon {
  width: 90px;
  padding: 0;
  margin: 0;
  color: #505f79;
}

.icon:hover {
  padding: 5px;
  border-radius: 5px;
}

.size {
  width: 30px;
  height: 21px;
}

.whatsappsize {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.linkedsize {
  width: 27px;
  height: 30px;
  cursor: pointer;
}

.facebooksize {
  width: 30px;
  height: 40px;
  cursor: pointer;
}

.telegramsize {
  width: 25px;
  height: 30px;
  cursor: pointer;
}

.githubsize {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.vector-img {
  margin-top: 10%;
  cursor: pointer;
  width: 2%;
  height: 2%;
}

.vector-img:hover {
  color: #45a049;
}

.works-header {
  position: static;
  color: rgba(23, 43, 77, 1);
  font-size: 40px;
  font-style: normal;
  font-weight: bold;
  margin: 30% 25% 3%;
  text-align: center;
  justify-content: center;
  width: 55%;
}

.line {
  width: 10%;
  height: 9px;
  background-color: rgba(54, 179, 127, 1);
  display: inline-block;
  position: relative;
  margin: 3% 45%;
  margin-bottom: 3rem;
  border-radius: 2px;
}

.works {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 95px 0;
}

.grid {
  width: auto;
  height: auto;
  align-items: start;
}

.grid-item {
  display: inline-block;
  background-color: rgba(255, 255, 255, 1);
  border: 3px solid #e5e5e5;
  height: 80%;
  width: 350px;
  margin: auto;
  margin-top: 3%;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.2s;
}

.grid-item:hover {
  transform: translateY(-0.5%);
}

.card {
  box-sizing: border-box;
  border: 5px;
  width: 100%;
  height: 88%;
  margin-bottom: 5px;
}

.card-img {
  display: block;
  width: 500px;
  height: 200px;
}

.card-header {
  display: block;
  font-size: 140%;
  width: 70%;
  height: 8%;
  font-weight: 600;
  color: rgb(58, 74, 66);
  margin: auto;
  text-align: center;
  justify-content: center;
  font-style: normal;
  line-height: 32px;
}

.card-content {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0 25px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.content-tags {
  border-radius: 4px;
  margin-top: 8px;
  margin-bottom: 5px;
  background: rgba(235, 240, 238, 1);
  padding: 2%;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.03em;
  color: black;
}

.seeprojects {
  display: block;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  border: 0;
  color: rgb(255, 255, 255);
  background: #36b37f;
  border-radius: 4px;
  padding: 3%;
  margin: 3% 35%;
  margin-bottom: 2%;
  align-items: center;
  filter: contrast(150%);
  transition: all  0.5s ease;
}

.content-btn {
  flex-direction: column;
  border-radius: 4px;
  padding: 2%;
  margin: 5% 35% 5%;
  background: #36b37f;
  image-rendering: optimizeQuality;
  align-items: center;
  filter: contrast(150%);
  transition: all  0.5s ease;
}

.btn {
  color: rgb(255, 255, 255);
}

.about {
  background: url('./image/about me 2.svg');
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: 7%;
  padding: 8px 8px;
}

.about-header {
  color: #172b4d;
  font-size: 40px;
  margin-top: 120px;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: bold;
  line-height: 52px;
  text-align: center;
  justify-content: center;
}

.about-text {
  position: static;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  justify-content: center;
  color: #172b4d;
  padding: 20px;
  margin: auto;
  width: 90%;
}

.about2 {
  background: url('./image/about me 1.svg');
  background-repeat: no-repeat;
  background-position-x: left;
  background-size: 9%;
  margin-top: -63px;
  padding: 10% 8%;
}

.about-btn {
  display: block;
  width: 10rem;
  height: 2rem;
  padding: 1rem 1rem;
  font-size: 1.3rem;
  color: #dbdbdb;
  background-color: #36b37f;
  filter: contrast(180%);
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
  margin: auto;
  margin-bottom: 10%;
  text-align: center;
}

.flex-container {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex-box {
  background-color: rgba(235, 240, 238, 1);
  border: 2px solid rgba(193, 199, 208, 1);
  width: 300px;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 4%;
  margin-top: 3%;
}

.attribute-ellip {
  position: static;
  margin: 2em auto;
  width: 5rem;
  height: 5rem;
  border-radius: 20rem;
  background-color: rgb(255, 255, 255);
  align-items: center;
}

.attribute-img {
  margin: 1rem 1.2rem;
  width: 40px;
  height: 40px;
}

.attri-content {
  padding: 0;
  margin: 40px;
  width: 70%;
  list-style-type: none;
}

.attribute-title {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 32px;
  text-align: center;
  color: rgba(52, 69, 99, 1);
  margin-bottom: 1rem;
}

.attribute-tags {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 12px;
  flex-wrap: wrap;
  position: relative;
  color: #60c095;
  background-color: rgb(255, 255, 255);
  border-radius: 0.3rem;
  height: 1.5rem;
  width: 20%;
  padding-top: 2%;
  padding-right: 4%;
  padding-bottom: 2%;
  padding-left: 5%;
  float: left;
  letter-spacing: 0.01em;
  justify-content: space-around;
  margin-left: 1%;
  margin-bottom: 7%;
}

.contrast {
  filter: contrast(100%);
}

.contact {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
}

.contact-text {
  width: 60%;
  height: 363px;
  font-style: normal;
  text-align: left;
  justify-content: left;
  padding: 20px;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 4% auto 2%;
  padding-left: 5px;
}

.form-container {
  width: 80%;
  margin: auto;
}

input[type='text'] {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 18px;
  margin-bottom: 12px;
}

input[type='email'] {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 18px;
  margin-bottom: 12px;
}

textarea {
  height: 200px;
  border: 1px solid #60c095;
  width: 90%;
  padding: 12px;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 18px;
  margin-bottom: 12px;
}

input[type='submit'] {
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background: #36b37f;
  filter: contrast(170%);
  width: 129px;
  height: 48px;
  margin: auto;
}

input[type='submit']:hover {
  background-color: #45a049;
}

.socials-lists-item-after {
  display: flex;
  align-items: center;
  width: 70%;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: rgb(66, 86, 119);
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: rgb(66, 86, 119);
  padding-bottom: 40%;
}

a:link {
  text-decoration: none;
  color: rgba(66, 82, 110, 1);
}

a:visited {
  text-decoration: none;
  color: rgba(66, 82, 110, 1);
}

a:hover {
  text-decoration: underline;
  color: rgba(66, 82, 110, 1);
}

.line2 {
  width: 30%;
  height: 10px;
  background-color: rgb(22, 21, 21);
  margin-top: 0%;
  border-radius: 5px;
  transition: 2s;
  cursor: pointer;
  margin-bottom: 2%;
}

.modal-container {
  border-radius: 10px;
  top: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: 99;
  transition: all 0.1s ease;
}

.hidden {
  display: none;
}

.box-container {
  border-radius: 10px;
  background-color: #fff;
  transition: all 0.1s ease;
}

.modal-desktop-image {
  width: 90%;
  height: 450px;
  margin-top: 11%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 5%;
  border-radius: 5%;
}

.modal-project-title {
  color: #172b4d;
  margin-left: 5%;
  margin-top: -15px;
  line-height: 35px;
  height: 82px;
  font-weight: 700;
  font-size: 32px;
  width: 60%;
  text-align: left;
  margin-bottom: 20px;
}

.modal-content-btn {
  text-align: right;
  margin-left: 45%;
  padding: 1%;
  border-radius: 3px;
  filter: contrast(150%);
  display: none;
}

.modal-cancel-icon {
  display: none;
}

.modal-cancel-container.hidden {
  display: none;
}

.modal-cancel-mobile-icon {
  display: block;
  position: absolute;
  top: 10%;
  right: 11%;
  cursor: pointer;
}

.modal-content-btn-btm {
  text-align: center;
  margin: 15px;
  padding: 1%;
  border-radius: 3px;
  filter: contrast(150%);
  display: block;
}

.modal-See-Source {
  background: #36b37f;
  border-radius: 5px;
  color: white;
  padding: 12px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 10px 10px;
  cursor: pointer;
}

.modal-See-Live {
  background: #36b37f;
  border-radius: 5px;
  color: white;
  padding: 12px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 10px 10px;
  cursor: pointer;
}

.modal-icon {
  margin-bottom: -5px;
  width: 15px;
}

.modal-attri-desktop-content {
  display: flex;
  justify-content: left;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
}

.modal-attri-mobile-content {
  display: none;
}

.modal-desktop-tags {
  background-color: #ebecf0;
  border-radius: 7px;
  color: #344563;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  margin: 10px 12px;
  cursor: pointer;
  margin-left: 5%;
  padding: 8px 12px;
  display: block;
}

.modal-contrast {
  filter: contrast(100%);
}

.modal-summary {
  margin: auto;
  width: 100%;
  line-height: 30px;
  font-size: 20px;
  color: #344563;
}

.modal-btn {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.modal-mobile-content {
  background-color: #ebecf0;
  border-radius: 7px;
  color: #344563;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 10px 12px;
  cursor: pointer;
  margin-left: 5%;
  padding: 8px 12px;
}

@media only screen and (min-width: 1100px) {
  .navbar.container {
    position: fixed;
    width: 100%;
    z-index: 1;
  }

  .mobile-menu-bar {
    display: none;
  }

  .nav-menu-wrapper {
    position: static;
    display: inline-block;
    width: 70%;
    background-color: #fff;
    text-align: center;
  }

  #welcome {
    font-weight: bold;
    margin: 3% 5%;
    font-size: 15px;
    display: none;
  }

  .works {
    background-color: rgba(255, 255, 255, 1);
    display: grid;
    row-gap: 50px;
    grid-template-columns: auto auto auto;
    margin-left: 5%;
    margin-right: 5%;
  }

  .nav-menu {
    display: inline-flex;
    position: absolute;
    width: auto;
    height: 1px;
  }

  .nav-menu.active {
    position: absolute;
    display: inline-flex;
    width: auto;
    height: 1px;
  }

  .menu-toggle .bar {
    display: none;
  }

  .navbar-item {
    width: 100%;
  }

  .nav-links {
    font-weight: bold;
    text-align: center;
    width: 100%;
    font-size: 20px;
    color: #fff;
  }

  .nav-links:hover {
    color: #3b6645;
    transition: all 0.3s ease;
  }

  .grid-item {
    display: inline-block;
    background-color: rgba(255, 255, 255, 1);
    border: 3px solid #e5e5e5;
    height: 100%;
    width: 300px;
    gap: 5%;
    margin: auto;
    margin-top: 3%;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.2s;
  }

  .card-header {
    width: 70%;
  }

  .card-content {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 25px 25px;
  }

  .content-tags {
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 5px;
    background: rgba(235, 240, 238, 1);
    padding: 2%;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.03em;
    color: black;
  }

  .seeprojects {
    display: block;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    border: 0;
    color: rgb(255, 255, 255);
    background: #36b37f;
    border-radius: 4px;
    padding: 3%;
    margin: 3% 35%;
    margin-bottom: 1%;
    align-items: center;
    filter: contrast(150%);
    transition: all  0.5s ease;
  }

  .flex-container {
    flex-wrap: nowrap;
  }

  .flex-box {
    margin: -20% 7% 5%;
    width: 400px;
  }

  .contact {
    flex-wrap: nowrap;
    flex-direction: row;
    width: 80%;
  }

  .contact-text {
    margin-left: 15%;
    width: 30%;
    padding: 10px;
  }

  .desktop-images {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
  }

  .desktop1 {
    position: relative;
    background: url('./image/desktop1.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 22%;
    margin-left: 140%;
    margin-top: 8%;
    padding: 40% 86%;
  }

  .desktop2 {
    background: url('./image/desktop2.svg');
    background-repeat: no-repeat;
    background-position-x: left;
    background-size: 10%;
    margin-left: -20%;
    padding-top: 30%;
    padding-left: 5px;
  }

  .desktop3 {
    background: url('./image/desktop3.svg');
    background-repeat: no-repeat;
    background-position-x: left;
    background-size: 9%;
    margin-left: -90%;
    margin-top: -40%;
    padding-top: 40%;
    padding-left: 10%;
  }

  .line3 {
    width: 100%;
    height: 2px;
    background-color: grey;
    margin-top: 40%;
    border-radius: 2px;
    transition: 2s;
    cursor: pointer;
  }

  .line3:hover {
    background-color: rgb(18, 99, 238);
  }

  .socials-list-after {
    list-style-type: none;
  }

  .socials-lists-item {
    width: 20%;
  }

  .socials-lists-item-after {
    width: 20%;
    height: 100%;
    cursor: pointer;
    margin-top: -28%;
    margin-bottom: 0%;
  }

  input[type='submit'] {
    float: left;
    margin-left: 40px;
  }

  .grid-item:hover {
    transform: translateY(-0.5%);
  }

  main {
    text-align: center;
    background: url('./image/header.svg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 10%;
  }

  .about2 {
    background-size: 6%;
  }

  .heading {
    margin-top: 6%;
  }

  .subheading {
    margin-top: -3%;
  }

  .summary {
    line-height: 30px;
    margin-top: 0%;
    width: 34%;
  }

  .line {
    display: none;
  }

  .text {
    display: none;
  }

  .line2 {
    display: none;
  }

  .modal-container {
    border-radius: 10px;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    margin-bottom: -3%;
    height: 10%;
    position: fixed;
  }

  .modal-cancel-mobile-icon {
    display: none;
  }

  .modal-cancel-icon {
    display: block;
    margin-left: 90%;
    padding: 5px 5px;
    margin-bottom: -3px;
    width: 30px;
  }

  .box-container {
    background-color: #fff;
    border-radius: 10px;
  }

  .modal-mobile-image {
    display: none;
  }

  .modal-desktop-image {
    display: block;
    width: 91%;
    height: 410px;
    margin-top: 8%;
    margin-left: 5%;
    margin-right: 8%;
    border-radius: 5px;
  }

  .modal-heading {
    display: flex;
  }

  .modal-project-title {
    color: #172b4d;
    margin-left: 5%;
    line-height: 40px;
    height: 82px;
    font-weight: 700;
    font-size: 32px;
    margin-top: 5px;
    text-align: left;
    width: 45%;
  }

  .modal-content-btn {
    text-align: right;
    margin-left: 25%;
    padding: 1%;
    border-radius: 3px;
    filter: contrast(150%);
    display: block;
  }

  .modal-content-btn-btm {
    text-align: right;
    margin-left: 45%;
    padding: 1%;
    border-radius: 3px;
    filter: contrast(150%);
    display: none;
  }

  .modal-See-Live {
    background: #36b37f;
    border-radius: 5px;
    color: white;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 10px 10px;
    cursor: pointer;
  }

  .modal-See-Source {
    background: #36b37f;
    border-radius: 5px;
    color: white;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 11px 11px;
    cursor: pointer;
  }

  .modal-icon {
    margin-bottom: -5px;
    width: 15px;
  }

  .modal-attri-desktop-content {
    display: flex;
    justify-content: left;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
  }

  .modal-desktop-tags {
    background-color: #ebecf0;
    border-radius: 7px;
    color: #344563;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin: 10px 12px;
    cursor: pointer;
    margin-left: 5%;
    padding: 8px 12px;
    display: block;
  }

  .modal-mobile-tags {
    display: none;
  }

  .modal-contrast {
    filter: contrast(100%);
  }

  .modal-summary {
    margin-left: 5%;
    width: 90%;
    line-height: 30px;
    font-size: 20px;
    color: #344563;
  }

  .modal-btn {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

  .modal-mobile-content {
    display: none;
  }
}
