* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  display: flex;
  background-color: white;
  position: static;
  
}
 .navbar-links {
  font-size: 20px;
  color: black;
  margin-left: 30px;
  display: flex;
  }

.dropdown {
  float: left;
  overflow: hidden;
  margin-left: auto;
 
}

 .dropbtn {
  font-size: 25px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-left: -55px;
}

a {
  float: none;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  margin-left: 5px;
  
}

.icons a:hover {
  color: rgb(135, 138, 146);
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.main {
  width: 450px;
  display: flex;
  margin-right: 10px;
  margin-left: 0;
}

.background {
  position: absolute;
  text-align: center;
  height: 20px;
  padding: 5px;
}

.header {
  width: 100%;
  max-width: 500px;
  
}

img {
  background-color: white;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

h1 {
  text-align: center;
  color: rgb(12, 5, 43);
  font-size: 52px;
  margin: 0;
  padding-top: 75px;
  padding-right: 3px;
}

h2 {
  color: rgb(137, 241, 184);
  text-align: center;
  font-size: 50px;
  margin: 0;
  padding-top: 20px;
  padding-right: 3px;
}

p {
  color: black;
  text-align: center;
  font-size: 24px;
  padding-top: 70px;
  margin-left: 40px;
  margin-right: 40px;
  line-height: 35px;
}

.icons{
  margin: 0;
  padding: 0;
  overflow:auto;
}
 .icons ol{
  float : left;
  font-size: 25px;
  margin-left: 25px;
}
.icons a{
  display:block;
  color:rgb(57, 57, 58);
  text-align:center;
  padding-top:30px;
  text-decoration: none;
  
}
.icons a:hover{
  color: rgb(137, 241, 184);
}
.icons a:visited {
  color: rgb(44, 42, 48);
}
 
//*@media only screen and (min-width: 1200px) {
   .navbar-links {
  font-size: 20px;
  color: black;
  margin-left: 30px;
  display: flex;
  }

.dropdown {
  float: left;
  overflow: hidden;
  margin-left: auto;
 
}
  .main {
    width: 450px;
    display: flex;
    margin-right: 10px;
    margin-left: 500px;
    position: absolute;
  }
  .background {
    position:;
    text-align: center;
    height: 20px;
    padding: 5px;
  }
  .header {
    width: 100%;
    max-width: 500px;
    
    }
 img {
    background-color: white;
    position: relative;
    left: 0;
    top: 0;
    z-index: -1;
  }
}