* {
  margin: 0;
  padding: 0;
  font-family: ubuntu, sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin-top: 3%;
}

.link {
  height: 2px;
  width: 20px;
  background-color: black;
  margin-bottom: 4px;
  border-radius: 1px;
  cursor: pointer;
}

.button {
  cursor: pointer;
}

main {
  text-align: center;
  background: url("./image/header.svg");
  background-position: center top;
  background-size: cover;
  padding-top: 10%;
}

.welcome {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.intro {
  line-height: 52px;
  font-family: inherit;
  font-style: normal;
  text-align: center;
}

.heading {
  color: #172b4d;
  font-size: 40px;
  margin-top: 12%;
  margin-bottom: 3%;
  width: 80%;
}

.subheading {
  color: #36b37e;
  font-size: 40px;
  margin-top: 2%;
  width: 70%;
}

.summary {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  margin-top: 5%;
  width: 90%;
}

.intro-section {
  width: auto;
  height: 50px;
}

.margin-left-right-auto {
  margin-right: auto;
  margin-left: auto;
}

.socials-list {
  list-style-type: none;
}

.socials-lists-item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  margin-top: 15%;
  height: 100%;
  margin-bottom: 10%;
}

.icon {
  width: 20px;
  padding: 0;
  margin: 0;
  color: #505f79;
}

.icon:hover {
  padding: 5px;
  border-radius: 5px;
}

.size {
  width: 30px;
  height: 21px;
}

.whatsappsize {
  width: 30px;
  height: 30px;
}

.linkedsize {
  width: 27px;
  height: 30px;
}

.facebooksize {
  width: 30px;
  height: 40px;
}

.telegramsize {
  width: 25px;
  height: 30px;
}

.githubsize {
  width: 25px;
  height: 25px;
}

.works-header {
  position: static;
  color: rgba(23, 43, 77, 1);
  font-size: 40px;
  font-style: normal;
  font-weight: bold;
  margin: 12% 30% 3%;
  text-align: center;
  justify-content: center;
  width: 45%;
}

.line {
  width: 6%;
  height: 9px;
  background-color: rgba(54, 179, 127, 1);
  display: inline-block;
  position: relative;
  margin: 2% 50%;
  margin-bottom: 5px;
  margin-top: 2px;
  border-radius: 2px;
}

.works {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.grid {
  width: auto;
  height: auto;
  align-items: start;
}

.grid-item {
  background-color: rgba(255, 255, 255, 1);
  border: 8px solid #e5e5e5;
  width: 20rem;
  height: 32rem;
  border-radius: 25px;
  margin: 2.2rem;
  overflow: hidden;
  cursor: pointer;
  transition: 0.2s;
}

.grid-item:hover {
  transform: translateY(-0.5%);
}

.card {
  box-sizing: border-box;
  border-radius: 3%;
  border: 5px;
  margin: 0.8rem;
  width: 26rem;
  height: 40rem;
}

.card-img {
  display: block;
  border-radius: 5%;
  width: 70%;
  height: 17rem;
  object-fit: cover;
}

.card-header {
  font-size: 24px;
  width: 70%;
  font-weight: 600;
  color: #3a4a42;
  margin-left: 5px;
  padding-top: 10px;
  text-align: center;
  justify-content: center;
  font-style: normal;
}

.card-tags {
  font-size: 12px;
  color: black;
  background-color: #e5e5e5;
  border-radius: 0.3rem;
  height: 1rem;
  width: 3rem;
  margin: 2rem  0.5rem;
  padding: 8px 5px;
  display: flex;
  float: left;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.01em;
  flex-direction: row;
  align-items: center;
}

.card-btn {
  display: block;
  width: 7rem;
  padding: 1rem 1rem;
  font-size: 17px;
  text-align: center;
  color: rgb(250, 246, 246);
  background-color: rgba(54, 179, 127, 1);
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
  margin: 5rem 5rem;
}

.about {
  background: url("./image/about me 2.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: 4rem;
  padding-top: 2%;
}

.about-header {
  color: rgba(23, 43, 77, 1);
  font-size: 40px;
  margin-top: 120px;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: bold;
  line-height: 52px;
  text-align: center;
  justify-content: center;
}

.about-text {
  position: static;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  justify-content: center;
  color: #42526e;
  padding: 20px;
}

.about2 {
  background: url("./image/about me 1.svg");
  background-repeat: no-repeat;
  background-position-x: left;
  background-size: 4rem;
  padding: 8% 6%;
}

.about-btn {
  display: block;
  width: 10rem;
  height: 2rem;
  padding: 1rem 1rem;
  font-size: 1.3rem;
  color: white;
  background-color: rgba(54, 179, 127, 1);
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
  margin: 2rem auto  1rem;
  text-align: center;
}

.flex-container {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex-box {
  background-color: rgba(235, 240, 238, 1);
  border: 2px solid rgba(193, 199, 208, 1);
  width: 20rem;
  height: 22rem;
  border-radius: 10px;
  margin: 1.5rem;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.attributes {
  list-style-type: none;
}

.attribute-items {
  align-items: center;
  text-align: center;
  justify-content: center;
}

.attribute-ellip {
  position: static;
  margin: 3em 7rem;
  width: 5rem;
  height: 5rem;
  border-radius: 20rem;
  background-color: rgba(255, 255, 255, 1);
  align-items: center;
}

.attribute-img {
  margin: 1rem 1.2rem;
}

.attribute-title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: rgba(52, 69, 99, 1);
  margin-bottom: 1rem;
}

.attribute-tags {
  font-size: 12px;
  color: rgba(54, 179, 126, 1);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0.3rem;
  height: 1.5rem;
  width: 3rem;
  display: flex;
  margin: 0.5rem 1rem  1rem 1rem;
  padding: 8px 8px;
  float: left;
  letter-spacing: 0.01em;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
